{% extends 'base.html.twig' %}

{% block title %}Découvrir les articles{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1> {{article.title}} 👋 </h1>
    
    <p> {{ article.content }} </p>
    <img src="{{ article.image }}" alt="illustration article">


</div>



{% endblock %}